@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@600&family=Londrina+Shadow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Base (Facebook-like) Theme */
  :root {
    --color-text-primary: 24, 119, 242;
    --color-text-secondary: 187, 187, 187;
    --color-text-button: 255, 255, 255;

    --color-fill-primary: 240, 242, 245;
    --color-fill-secondary: 228, 230, 235;
    --color-fill-high: 187, 187, 187;

    --color-button-primary: 109, 155, 241;
    --color-button-secondary: 73, 110, 124;
  }

  .theme-default{
    --color-text-primary: 24, 119, 242;
    --color-text-secondary: 187, 187, 187;
    --color-text-button: 255, 255, 255;

    --color-fill-primary: 240, 242, 245;
    --color-fill-secondary: 228, 230, 235;
    --color-fill-high: 187, 187, 187;

    --color-button-primary: 109, 155, 241;
    --color-button-secondary: 73, 110, 124;
  }

  /* Coffee Theme */
  .theme-coffee {
    --color-text-primary: 233, 193, 174;
    --color-text-secondary: 245, 204, 163;
    --color-text-button: 32, 30, 25;

    --color-fill-primary: 65, 33, 1;
    --color-fill-secondary: 80, 49, 2;
    --color-fill-high: 230, 204, 91;

    --color-button-primary: 245, 211, 183;
    --color-button-secondary: 250, 231, 216;
  }

  /* Dark Theme */
  .theme-dark {
    --color-text-primary: 245, 245, 245;
    --color-text-secondary: 193, 200, 201;
    --color-text-button: 210, 205, 252;

    --color-fill-primary: 27, 25, 25;
    --color-fill-secondary: 45, 45, 45;
    --color-fill-high: 141, 75, 155;

    --color-button-primary: 21, 37, 54;
    --color-button-secondary: 9, 9, 10;
  }

  /* Monochrome Theme */
  .theme-monochrome {
    --color-text-primary: 25, 25, 25;
    --color-text-secondary: 41, 11, 2;
    --color-text-button: 236, 230, 255;

    --color-fill-primary: 250, 224, 211;
    --color-fill-secondary: 230, 202, 187;
    --color-fill-high: 184, 136, 114;

    --color-button-primary: 192, 158, 140;
    --color-button-secondary: 160, 124, 110;
  }

  /* Dark2 Theme */
  .theme-dark2 {
    --color-text-primary: 115, 255, 255;
    --color-text-secondary: 56, 220, 241;
    --color-text-button: 25, 25, 25;

    --color-fill-primary: 27, 25, 25;
    --color-fill-secondary: 45, 45, 45;
    --color-fill-high: 0, 223, 204;

    --color-button-primary: 86, 129, 179;
    --color-button-secondary: 60, 60, 117;
  }
}
