@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@600&family=Londrina+Shadow&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* Base (Default) Theme */
  :root {
      --color-text-primary: #bc6c25;
      --color-text-secondary: #dda15e;
  
      --color-text-button: #faedcd;
  
      --color-fill-primary: #fefae0;
      --color-fill-secondary: #fdf0d5;
  
      --color-fill-high: #e7c6ff;
  
      --color-button-primary: #283618;
      --color-button-secondary: #606c38;
    }
  
    /* Dark Theme */
    .dark {
      --color-text-primary: #ffffff; /* White text */
      --color-text-secondary: #e0e0e0; /* Light gray for secondary text */
      
      --color-text-button: #000000; /* Black for button text */
  
      --color-fill-primary: #1a1a1a; /* Dark background */
      --color-fill-secondary: #2b2b2b; /* Slightly lighter dark background */
  
      --color-fill-high: #797474; /* Highlighted area background */
  
      --color-button-primary: #f5f5f5; /* Light button background */
      --color-button-secondary: #cccccc; /* Lighter gray button background */
    }
  
    /* Monochrome Theme (Soft Skin Palette) */
    .monochrome {
      --color-text-primary: #a07c6a; /* Soft skin-like text */
      --color-text-secondary: #c6a89e; /* Lighter variation for secondary text */
  
      --color-text-button: #e8d1c7; /* Soft monochrome button text */
  
      --color-fill-primary: #f1e2db; /* Soft skin-like background */
      --color-fill-secondary: #e3d5c9; /* Slightly darker background */
  
      --color-fill-high: #534130; /* Highlighted area background */
  
      --color-button-primary: #d9a598; /* Monochrome button background */
      --color-button-secondary: #b68e82; /* Darker button background */
    }
  }
  