@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@600&family=Londrina+Shadow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Base (Default) Theme */
  :root {
    --color-text-primary: 32, 29, 25;
    --color-text-secondary: 26, 17, 12;
    --color-text-button: 8, 6, 2;

    --color-fill-primary: 120, 72, 48;
    --color-fill-secondary: 150, 100, 65;
    --color-fill-high: 196, 145, 97;

    --color-button-primary: 120, 72, 48;
    --color-button-secondary: 120, 72, 48;
  }

  /* Default Theme (Coffee) */
  .theme-coffee {
    --color-text-primary: 233, 193, 174; /* Rich coffee brown for main text */
    --color-text-secondary: 245, 204, 163; /* Lighter caramel for secondary text */
    --color-text-button: 32, 30, 25; /* Soft cream for button text */

    --color-fill-primary: 194, 142, 91; /* Soft cappuccino brown for background */
    --color-fill-secondary: 220, 185, 131; /* Lighter beige for secondary background */
    --color-fill-high: 235, 208, 164; /* Pale coffee milk for highlights */

    --color-button-primary: 178, 128, 88; /* Warm beige for primary buttons */
    --color-button-secondary: 136, 101, 72; 
  }

  /* Dark Theme */
  .theme-dark {
    --color-text-primary: 245, 245, 245;
    --color-text-secondary: 193, 200, 201;
    --color-text-button: 210, 205, 252;

    --color-fill-primary: 27, 25, 25;
    --color-fill-secondary: 45, 45 ,45 ;
    --color-fill-high: 141, 75, 155;

    --color-button-primary: 21, 37, 54;
    --color-button-secondary: 9, 9, 10;
  }

  /* Monochrome Theme (Soft Skin Palette) */
  .theme-monochrome {
    --color-text-primary: 245, 245, 245;
    --color-text-secondary: 240, 240, 240;
    --color-text-button: 236, 230, 255;

    --color-fill-primary: 250, 224, 211;
    --color-fill-secondary: 230, 202, 187;
    --color-fill-high: 184, 136, 114;

    --color-button-primary: 192, 158, 140;
    --color-button-secondary: 160, 124, 110;
  }
}

.theme-dark2 {
  --color-text-primary: rgb(245, 245, 245);
  --color-text-secondary: rgb(193, 200, 201);
  --color-text-button: rgb(25, 25, 25);

  --color-fill-primary: rgb(27, 25, 25);
  --color-fill-secondary: rgb(45, 45 ,45);
  --color-fill-high: rgb(143, 141, 134);

  --color-button-primary: rgb(21, 37, 54);
  --color-button-secondary: rgb(9, 9, 10);
}